.date-popup{
    padding: 14px;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 8px;
}
.bborder{
    border-bottom: 1px solid #ECECEC;
}
.col6D6D6D{color:#6D6D6D ;}
.fw{font-weight: bold;}
.fw400{font-weight: 400;}
.fs16{font-size: 16px;}
.color-dark-a{
    color: rgba(31, 35, 62, 0.5);
}
.flex-wrap-evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.check{
    border:1px solid #E60012;
    color: #E60012;
}
.mgl12{margin-left: 12px;}
.mgr12{margin-right: 12px;}
.pad-8-10{
    padding: 8px 10px;
}
.mgt10{margin-top: 10px;}
.fs13{font-size: 13px;}
.bor-radius-8{
    border-radius: 8px;
}
.bor-grey{
    border: 1px solid #E5E5E5;
}
.color-grey{
    color: #D3D3D3
}


.flex-wrap-evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




